.allDivLink{
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;

}

.buttonLink{
  height: 100%;
  position: relative;
}

.svgSpan{
  color: transparent;
  position: absolute;
  width: 28px;
  height: 28px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./user_outline.svg');
  top: 50%;
  left: calc(100% + 8px);
  transform: translateY(-50%);
}