@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;

  --primery-color-black: #2f2f2f;
  --primery-color-white: #fff;
  --primery-color-blue: #407bff;
  --primery-color-gray: #8f8f8f;
  --calendar-color-green: #43ff4c;

  --secondary-color-blue: #9ebbff;
  --bg-color-light-blue: #ecf2ff;
  --secondary-yellow: #ff9d43;

  --backdrop-color: rgba(0, 0, 0, 0.8);
  --btn-color-red: #ef5050;
  --btn-color-light-blue: #d7e3ff;
  --calendar-color-orange: #ff9d43;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}

input {
  outline: none;
}
.calendarDayBtn.border {
  border: 1px solid var(--calendar-color-orange);
}

.calendarDayBtn.border-green {
  border: 1px solid var(--calendar-color-green);
}
.calendarDayBtn {
  width: 34px;
  height: 34px;
  border-radius: 20px;
  border: none;
  background-color: var(--primery-color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: all 0.3s;
}
.calendarDayBtn:hover {
  background-color: var(--secondary-color-blue);
}

.today {
  background-color: var(--secondary-color-blue);
}